/* .container {
  max-width: 600px;
  margin: 0 auto;
}

.mt-5 {
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 2rem;
}

.btn-primary {
  background-color: #C12F2F;
  border-color: #C12F2F;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.mr-3 {
  margin-right: 1rem;
} */
