body.dark-mode {
  background-color: #121212;
  color: white;
}

.custom-header {
  background-color: #DB9A6B;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.custom-footer {
  background-color: #f57115;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: black !important;
  text-align: center;
}

.dark-header {
  background-color: #333333;
}

.navbar-nav .nav-link {
  color: black !important;
}

body.dark-mode .navbar-nav .nav-link {
  color: white !important;
}

#copyrigth{
  font-size: 1rem;
}
.img-right {
  float: right;
  max-width: 20px;
  height: auto; 
}
